.row{
    margin-top: 4%;
    margin: 3%;
}
body{
    background: #D1D1D0 !important;
    /* margin:0 auto; */
}
h1{
    font-size: 4rem !important;
}
h1,h2{
    color: #F05B5B;
}

.white-section{
    /* padding: 5% 3% 5% 3%; */
    background: #D1D1D0;
}
.colSec{
    /* margin:5px; */
    border-radius: 5px;
    padding: 2%;
    /* width:20%; */
    background: #DDEBF2;
    text-align: center;
}
#FilterSec{
    margin: 1% !important;
}
#spc{
    margin:5px;
}
#spc:hover{
    cursor: pointer;
}
.form{
    background: #DDEBF2;
}
.card{
    width: 100% !important;
}
.plus{
    text-align: center !important;
    padding: 0!important;
}
.plus:hover{
    text-align: center !important;
    padding: 0!important;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 5px!important;
    cursor: pointer;
}
.h1c{
    margin-bottom: 4%;
}
li{
    cursor: pointer;
}
.Outer{
    margin-bottom: 4% !important;
}
.filter{
    text-align: center !important;
    background-color: none !important;
    background: none !important;
    align-items: center !important;
}