.row{
    margin-top: 4%;
    margin: 3%;
}
body{
    background: #282929 !important;
    /* margin:0 auto; */
}
h1,h2{
    color: #F4C915;
}

.white-section{
    /* padding: 5% 3% 5% 3%; */
    background: #282929;
}
.colSec{
    margin:5px;
    border-radius: 5px;
    padding: 10px;
    width:20%;
    background: #DDEBF2;
}
#spc{
    margin:5px;
}
form{
    background: #DDEBF2;
}
.card{
    width: 100% !important;
}
.plus{
    text-align: center !important;
    padding: 0!important;
}
.h1c{
    margin-bottom: 4%;
}